In [1]:
#1
# we can create list by using [].
# in that list we can seperated each items with (,).
# example
f = [1, 3, 4, 5, 5]
print(f)

[1, 3, 4, 5, 5]

In [2]:
#2
f = [1, 4, 6, 6, 8]
print(len(f))

5

In [3]:
#3
g = [ 2, 4, 5, 7, 8]
print(g[1])

4

In [11]:
#4
g = [ 3, 'first', 5, 5.4 ]
g[1] = 'second'
g1 = g
g1[3] = 8
print(g)

[3, 'second', 5, 8]

In [15]:
#5
f = [ 4, 5, 8, 9] 
f.append(9)
print(f)

[4, 5, 8, 9, 9]

In [14]:
#6
f = [ 2, 4, 8, 9, 10]
f.insert(1, 8)
print(f)

[2, 8, 4, 8, 9, 10]

In [19]:
#7
f = [ 2, 4, 8, 9, 10]
f.remove(2)
print(f)

[4, 8, 9, 10]

In [49]:
#8
f = [ 3, 4, 5, 7, 9]
print(f[-1])

9

In [51]:
#9 (pending)
f = [2, 3, 4, 5, 8, 1, 2]
f.sort()
print(f)
f.reverse()
print(f)
n = list(reversed(f))
print(n)

[1, 2, 2, 3, 4, 5, 8]
[8, 5, 4, 3, 2, 2, 1]
[1, 2, 2, 3, 4, 5, 8]

In [22]:
#10
f = [ 2, 4, 5, 5, 1]
f.reverse()
print(f)

[1, 5, 5, 4, 2]

# tuple

In [23]:
#11
# we can create tuple by using the () .
# example
f = (2, 4, 7, 8, 9)
print(type(f))

<class 'tuple'>

In [24]:
#12
f = ('banana', 'mango', 'graph')
print(f[0])

banana

In [25]:
#13
f = ('banana', 'mango', 'graph')
print(len(f))

3

In [26]:
#14
f = (1, 2, 3, 4, 5)
g = (3, 4, 7, 8, 9)
nect = f + g
print(nect)

(1, 2, 3, 4, 5, 3, 4, 7, 8, 9)

In [27]:
#15
f = (1, 2, 3, 4)
c = f * 2
print(c)

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
#16 by using the index method we can find the value of the index

fr = (1, 2, 3, 5, 6)
Fs = fr.index(5)
print(Fs)

3

In [29]:
#17
f = (1, 1, 3, 4, 5, 6, 7)
print(f.count(1))

2

In [40]:
#18
f = (1, 2, 4, 5, 8, 7)
print( 1 in f )
print( 1 not in f )

True
False

In [32]:
#19
f = [2, 3, 4, 5, 6, 7]
d = tuple(f)
print(type(d))
print(d)

<class 'tuple'>
(2, 3, 4, 5, 6, 7)

In [33]:
#20
f = (2, 3, 4, 5, 6, 7)
d = list(f)
print(type(d))
print(d)

<class 'list'>
[2, 3, 4, 5, 6, 7]