In [1]:
#  1. What is an 'int'? Give an example.
# int(integer) it is a number , it can be in postive and negative but not in 1.1,2.2, like that.
i = 1
print(i)
print(type(i))

1
<class 'int'>

In [6]:
#  2. Write an example of a 'float' value.
# float is also a number it can be also postive and negative but it should be in 1.1, 1.3 like that.
f = 1.1
print(f)
print(type(f))

1.1
<class 'float'>

In [ ]:
#  3. What type is a string? Is "123" a string or a number?
# string means what ever values inside the '',""or""" """ that values we can call it as string.
# "123", is a string not a number

In [ ]:
#  4. Why do we use the 'type()' function?
# we use type() to find the which type of that variables is like it is list,tuple,int,float like that we can found by using the type() function

In [7]:
#  5. Write a program to check the data type of the following:
a = 20
b = "Hello"
c = 45.67
d = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
#  6. Write a Python program that adds two numbers entered by the user.

s = []
while len(s) <2:
    e = int(input("enter the number"))
    s.append(e)
print(s)

[1, 2]

In [15]:
# 7. What will be the output?
x = "5"
y = 5
print(x * y)

55555

In [17]:
#  8. Write a program to convert string "123" to integer and multiply with 2.
s = "123"
l = int(s)
print(l * 2)

246

In [28]:
#  9. What is the difference between a List and a Tuple? Give an example
# the difference between list and tuples are:
#   * list are mutable but tuples are immutable.
#   * list is enclosed with [] where tuple enclosed with ().
#   * compare to list tuples are faster.
# list
l = [1, 2, 3, 4]
print(l)
print(type(l))
l[0]=9
print(l)
l.append(66)
print(l)
l.remove(66)
print(l)
print("-" * 30)


# tuple
t = (1, 3, 4, 5)
print(t)
print(type(t))
t.remove(3)
print(t)

[1, 2, 3, 4]
<class 'list'>
[9, 2, 3, 4]
[9, 2, 3, 4, 66]
[9, 2, 3, 4]
------------------------------
(1, 3, 4, 5)
<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'remove'

In [29]:
#  10. Can sets have duplicate values? Give a valid example.
# no , set don't allow duplicate values.
s = {1, 2, 3, 3, 3, 4, 4 , 1}
print(s)

{1, 2, 3, 4}

In [30]:
#  11. What is a dictionary? How is it structured?
# dictornary is a mutable in python.
# it enclosed with {}.
# duplicate are not allowed in keys but allows in values.
# in dict elements are stored in key value pairs.
d = {1:2, 2:3}
print(d)
print(type(d))

{1: 2, 2: 3}
<class 'dict'>

In [ ]:
#  12. Which Python collections are immutable?
# in python the immutable collections are:
#   tuples and string also inside the elements of set also immutable.

In [31]:
#  13. Create a list of fruits and print each fruit using a for loop.
l = ["apple", "mango", "graphs", "orange"]
for x in l:
    print(x)

apple
mango
graphs
orange

In [33]:
#  14. Write a program to add a new item to a tuple. (Hint: tuples are immutable!)
t = (1, 2, 3, 4)
d = list(t)
d.append(6)
print(d)

[1, 2, 3, 4, 6]

In [36]:
# 15. Write a program to remove duplicates from the list:
#    numbers = [1, 2, 2, 3, 4, 4, 5]

numbers = [1, 2, 2, 3, 4, 4, 5]
s = set(numbers)
print(s)
print("-" * 30)

d = []
for x in numbers:
    if x not in d:
        d.append(x)
print(d)

{1, 2, 3, 4, 5}
------------------------------
[1, 2, 3, 4, 5]

In [70]:
# 16. Create a dictionary of student names and their marks. Print only names of students who scored above 80
d = {"rahul":60, "ramesh":86, "naresh":90, "nikith":40}
for x, y in d.items():
    if y > 80:
        print(x)

ramesh
naresh

In [52]:
# 17. Create a set of 5 cities. Add a new city and remove one existing city
s = {"benglore", "chennai", "hyderbad","mumbai"}
s.add("pune")
print(s)
s.remove("chennai")
print(s)

{'benglore', 'chennai', 'hyderbad', 'pune', 'mumbai'}
{'benglore', 'hyderbad', 'pune', 'mumbai'}

In [1]:
# 18. What will be the output?
my_dict = {"name": "Ravi", "age": 23}
print(my_dict["name"])
print(my_dict.get("gender", "Not Found"))

Ravi
Not Found

In [59]:
#  19. Write a program to count the number of vowels in a given string.
s = "language"
vowels = "aeiou"
d = 0
for x in s:
    if x in vowels:
        d +=1
print(d)

4

In [ ]:
#  20. Write a program to take 5 student names and marks, store them in a dictionary, and print the topper's name.
ts = int(input("enter the number"))
d = {}
for x in range(ts):
    student = str(input("enter the student name"))
    marks = int(input("enter the marks"))
    d[student] = marks
print(d)

print(d(max))  # not complited this one

ValueError: invalid literal for int() with base 10: ''