In [1]:
#1
first = [1, 3, 4, 5]
print(first)

[1, 3, 4, 5]

In [2]:
#2
print(first[0])

1

In [3]:
#3
first[0]=3
print(first)

[3, 3, 4, 5]

In [4]:
#4
first.append(5)
print(first)

[3, 3, 4, 5, 5]

In [5]:
#5
first[1]=4
print(first)

[3, 4, 4, 5, 5]

In [6]:
#6
first.remove(4)
print(first)

[3, 4, 5, 5]

In [8]:
#7
first.pop(0)
print(first)

[4, 5, 5]

In [21]:
#8
first = [1, 2, 5, 5]
for x in first:
    print(x)

1
2
5
5

In [23]:
#9
l1 = [1, 4, 5, 5, 6]
squared_numbers = [x**2 for x in l1 ] 
print(squared_numbers)

[1, 16, 25, 25, 36]

In [25]:
#10
l1 = [1, 4, 5, 9, 6, 0]
l1.sort()
print(l1)

[0, 1, 4, 5, 6, 9]

# set

In [26]:
#11
s = { 1, 3, 5, 5}
print(type(s))
print(s)

<class 'set'>
{1, 3, 5}

In [28]:
#12
s1 = {2, 5, 6, 7}
s1.add(4)
print(s1)

{2, 4, 5, 6, 7}

In [29]:
#13
s1.remove(4)
print(s1)

{2, 5, 6, 7}

In [30]:
#14
a = {1, 3, 4, 5, 6}
b = {2, 4, 6, 7, 8}
s = a.union(b)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
#15
c = a.intersection(b)
print(c)

{4, 6}

In [33]:
#16
d = a.difference(b)
f = b.difference(a)
print(d)
print(f)

{1, 3, 5}
{8, 2, 7}

In [34]:
#17
a = {1, 3, 4, 5, 6}
print(1 in a )

True

In [36]:
#18
a = {1, 3, 4, 5, 6}
for x in a:
    print(x)

1
3
4
5
6

In [37]:
#19
a = {1, 3, 4, 5, 6}
print(len(a))

5

In [38]:
#20
a = [1, 3, 4, 5, 6]
v = set(a)
print(v)
print(type(v))

{1, 3, 4, 5, 6}
<class 'set'>

# tuple

In [39]:
#21
f = (2, 4, 6, 7, 7)
print(f)
print(type(f))

(2, 4, 6, 7, 7)
<class 'tuple'>

In [40]:
#22
f = (2, 4, 6, 7, 7) 
print(f[0])

2

In [41]:
#23
f = (2, 4, 6, 7, 7)
l1,l2,l3,l4,l5 = f
print(l1)
print(l2)
print(l3)
print(l4)
print(l5)

2
4
6
7
7

In [43]:
#24
s = len(f)
print(s)

5

In [44]:
#25
f = (2, 4, 6, 7, 7)
print(4 in f)

True

In [45]:
#26
l1 = (1, 3, 4, 5)
l2 = (2, 4, 5, 6)
s = l1 + l2
print(s)

(1, 3, 4, 5, 2, 4, 5, 6)

In [49]:
#27
t = (1, 4, 5)
s = t * 2
print(s)

(1, 4, 5, 1, 4, 5)

In [ ]:
#28
l1 = (1, 3, 4, 5)
s = list(l1)
print(s)
print(type(s))

[1, 3, 4, 5]

In [47]:
#29
l1 = (1, 3, 4, 5)
for x in l1:
    print(x)

1
3
4
5

In [48]:
#30
l1 = (1, 3, 4, 5)
print(l1[0])

1