# string

In [ ]:
#1
s = "this is my first pytho"
print(len(s))

22

In [5]:
#2
g = "python"
f = "".join(reversed(g))
print(f)

nohtyp

In [2]:
#3
f = str(input("enter the string "))
while f == f[::-1]:
    print(f"{f} this is a pallindrome")
    break
else:
    print(f"{f} this is not a pallindrome")

fif this is a pallindrome

In [20]:
#4
text = "python is python and python "
print(text.count("python"), text.count("is"))

3 1

In [11]:
#5
text = " $ # chandu"
str_rep =text.replace("$", " ").replace("#", " ")
print(str_rep)
print(str_rep.strip())

     chandu
chandu

In [ ]:
#6 
s = "python string"
print(s.title())

Python String

In [ ]:
#7 find the longest word in a given string
s = "python is the first language"

s1 = s.split()
max_s1 = max(s2)
print(max_s1)

5

TypeError: 'int' object is not iterable

# not done questions are
7. find the longest word in a given string?

# tuples

In [16]:
#8 
t  = (1, 4, 5, 6)
print(len(t))

4

In [17]:
#9
t = ( 3, 4, 5, 6, 7)
s = list(t)
print(s)

[3, 4, 5, 6, 7]

In [18]:
#10
t1 = (1, 2, 3, 4, 5)
t2 = list(t1)
t2.append(6)
print(t2)

[1, 2, 3, 4, 5, 6]

In [19]:
#11
t = (1, 3, 5, 88, 0)
print("maximum valuei is ", max(t))
print("minimum vale is ", min(t))

maximum valuei is  88
minimum vale is  0

In [17]:
#12
s = (1, 1.1, "fir", False)
t1,t2,t3,t4 = s
print(t1)
print(t2)
print(t3)
print(t4)

1
1.1
fir
False

In [32]:
#13
f = (1, 3, 5, 5)
print(1 in f)

True

In [39]:
#14
f = (1, 2, 3, 4, 5)
g = (9, 4, 1, 2, 4)
h = f + g
final = sorted(h)
print(final)
print(type(final))

[1, 1, 2, 2, 3, 4, 4, 4, 5, 9]
<class 'list'>

# floats

In [1]:
#15
f = 1.22222
print(format(f, ".2f"))

1.22

In [2]:
#16
f = 1.23
s =int(f)
print(s)
print(type(s))

1
<class 'int'>

In [9]:
#17
l = [1.2, 4.4, 4.4]
s = len(l)
sum_l = sum(l)

print("this sum of L: ", sum_l)
print("this average of l :", sum_l / s)

this sum of L:  10.0
this average of l : 3.3333333333333335

In [ ]:
#18 convert a float into fraction
s = 2.3
f = s / 5
print(f)

0.45999999999999996

In [5]:
#19 convert a float into int without using the int() function
f = eval(input("entere the number"))
s = f // 1
print(s)
print(type(s))

2.0
<class 'float'>

In [11]:
#20
list_of = [1.2, 3.3, 3.4, 5.5, 5.5]
print(max(list_of))
print(min(list_of))

5.5
1.2

# not done questions
19. convert a float into int without using the int() function ?
18. convert a float into fraction?