# fundamental data types

#1
* the fundamental data types are
   int, float , bool , str ( this are the fundamental data types.)

## int
* it is immutable 
* int can be postive or negative and zero
* ther is limit size of int
* if there are number like 1.1,2.2 these are not int

In [37]:
# int 
f = -1
print(f)
print(type(f))

-1
<class 'int'>

# float
* floats is immutable
* float can be represent as decimal numbers.
* it stores the decimal numbers only

In [38]:
# float
f = 1.1
print(f)
print(type(f))

1.1
<class 'float'>

# bool
* bool can be defined as the value or any argument we are passing is true or nor.
* bool is True or false.

In [39]:
# example for bool 
a = 1
b = 2
print(a>b)
print(a<b)

False
True

# string
* whatever the elcoses with ' '(single qotes) or " "(double qotes) and """ """(thirble qotes) that we call it as string whether it is int,float or anything.

In [40]:
# examples for string
s = "first"
s1= """first"""
s2 = 'first'
print(s)
print(type(s))
print(s1)
print(type(s1))
print(s2)
print(type(s2))

first
<class 'str'>
first
<class 'str'>
first
<class 'str'>

# 2
## difference between integer and float
* both will accept the numbers.
* but int won't accept the decimal numbers. wheras float accept the interger numbers.

In [44]:
# examples for int and float
a = 1
b = 1.2
print(a)
print(type(a))
print(b)
print(type(b))

1
<class 'int'>
1.2
<class 'float'>

# 3
## what are the two possible values of the boolean data types? how are they used
* the possible values of boolean data types are 'True' and 'False'
* if we provide any conditon and if we check whether it is true or false we can done this with the help of bool.

In [45]:
# examples of bool
b1 = 1
b2 = 3
print(b1>b2)
print(b2>b1)

False
True

# 4 
## 4 what is complex numbers. how do we create it
?

In [41]:
#5
i = 1
f = 1.1
b = True
print(type(i))
print(type(f))
print(type(b))

<class 'int'>
<class 'float'>
<class 'bool'>

In [42]:
#6
f = input("enter the number")
while f == int:
    print("this number is int")
print("this is not an int")

this is not an int

In [43]:
#7
f = float(input("enter the number"))
i = int(f)
s = str(f)
print(f)
print(type(f))
print(i)
print(type(i))
print(s)
print(type(s))

ValueError: could not convert string to float: ''

In [ ]:
#8
10 > 5 
5 < 2
5 == 5
7 >= 7

False

In [ ]:
#9
a = 10
b = 5
a, b = b , a
print(a,b)

5 10

# collection data types

#1
## collection data types in python are:
* list
* tuple
* set
* string
* dictionary
### list
* list can be start and end enclose with symbol is [].
* list is mutable 
* insertion order is preserved in list.
* duplicates are allowed in list
* indexing and slicing are allowed in list.
### tuples
* tuples can be start and end enclose with symbol is ().
* list is immutable. 
* insertion order is preserved in tuples.
* duplicates are allowed in tuples.
* indexing and slicing are allowed in tuples.
* compare to list tuples are faster because in tuples we dont have that options like in list.
### set
* set can be start and end enclose with symbol is {}.
* set is mutable . but inside the elements of set is immuatable.
* insertion order is not preserved in set.
* duplicates are not allowed in set.
* indexing and slicing are not allowed in set.
### dictionary
* dict can be start and end enclose with symbol is {}.
* dict is mutable 
* duplicates are not allowed in key. by can be allowed in values.
* indexing and slicing are not allowed in dict
### string
* dict  can be start and end enclose  with symbol is " " or ' ' .
* string is immutable.
* indexing and slicing are  allowed in string.

#### 2
##### difference between list and tuples:
* list is mutable and tuples are immutable .
* tuple is faster compare to list.
* both list and tuple allows the duplicates.
* both list and tuple insertioin oreder is preserved.
* both allows the indexing and slicing.
* data will changes in list. where as tuple won't change the data.

In [ ]:
#2 list tuple examples
l = [1, 2, 3, 4, 4]
print(l)
print(type(l))

t = (1, 2, 3, 4, 5)
print(t)
print(type(l))

[1, 2, 3, 4, 4]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'list'>

#### 3
##### how set is differenct from list..
*  both set and list is mutable.
* indexing and slicing allows in list but not in set.
* insertion order is preserved in list but nor in set.
* duplicates are  allowed in list but not in set.

In [ ]:
#3 examples of list and set

l = [1, 1, 2, 3, 3, 3, 4, 4, 4, 4]
print(l)
l[1]=2
print(l)
print(l[0])

s = {1, 1, 2, 3, 3, 3, 4, 4, 4, 4}
print(s)
print(s[1])
s[1] = 1
print(s)

[1, 1, 2, 3, 3, 3, 4, 4, 4, 4]
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
1
{1, 2, 3, 4}

TypeError: 'set' object is not subscriptable

#### 5
##### dictionary in python.
* Mutable (can be modified)
* Unordered (before Python 3.7; ordered in 3.7+)
* Indexed by keys, not positions
* example of dict:
   d = {1:2, 2:2, 3:3}
##### how it is different from list
* list we elcloses with []. for dict we use {}.
* list allows duplicates . but for dict only allows for values not for key.
* idexing is allowed in list by using the postions, but for dict indexing is allowed by using the keys not from postions .

In [ ]:
#5
l = [1, 2, 3, 4, 5]
print(max(l))
print(min(l))
print(sum(l))

5
1
15

In [ ]:
#6
f = [ 1, 2, 3, 1, 2, 3, 1, 2, 3]
s = []
for x in f:
    if x not in s:
        s.append(x)
print(s)

[1, 2, 3]

In [ ]:
# 6
f = [ 1, 2, 3, 1, 2, 3, 1, 2, 3]
s = set(f)
print(s)

{1, 2, 3}

In [ ]:
#7
t = (10, 20, 30, 40, 50)
print(t[2])
print(len(t))
s = list(t)
print(s)

30
5
[10, 20, 30, 40, 50]

In [ ]:
#8
d = {1:2, 2:3, 4:5, 7:3}
print(d)
d[0]=1
print(d)
del d[1]
print(d)

{1: 2, 2: 3, 4: 5, 7: 3}
{1: 2, 2: 3, 4: 5, 7: 3, 0: 1}
{2: 3, 4: 5, 7: 3, 0: 1}

In [ ]:
#9
marks = {"alice":85, "bob":90, "charlie":78}
print(marks.get("bob"))
marks["charlie"]=80
print(marks)
marks["rohan"]=60
print(marks)

90
{'alice': 85, 'bob': 90, 'charlie': 80}
{'alice': 85, 'bob': 90, 'charlie': 80, 'rohan': 60}