# list

In [ ]:
#  1. Create a list of 10 integers and print only the even numbers
list = [1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10]
result = []
for x in list:
    if x % 2 == 0:
        result.append(x)
print(result)

[2, 4, 6, 6, 8, 10]

In [16]:
# 2. Write a program to find the sum of all elements in a list.
l1 = [1, 2, 3, 4, 5, 6]
print(sum(l1))

21

In [20]:
#  3. Remove all duplicates from a list.
l = [1, 2, 2, 3, 3, 4, 4, 4, 5, 6, 6]
s = set(l)
print(s)

{1, 2, 3, 4, 5, 6}

In [27]:
# 4. Sort a list in ascending and descending order.
as_d = [1, 4, 5, 6, 3, 8, 9, 2, 2]
as_d.sort()
print(as_d)
print("the asscending order is ", as_d)
as_d.reverse()
print("the descending order is ", as_d)

[1, 2, 2, 3, 4, 5, 6, 8, 9]
the asscending order is  [1, 2, 2, 3, 4, 5, 6, 8, 9]
the descending order is  [9, 8, 6, 5, 4, 3, 2, 2, 1]

In [30]:
# 5. Find the maximum and minimum element in a list.
l = [1, 2, 3, 4, 9, 88, 11, 0]
print("the maximum number is ", max(l))
print("the minumum number is ", min(l))

the maximum number is  88
the minumum number is  0

In [3]:
# 6. Reverse a list without using the reverse() function.

ls = [1, 2, 3]
n = reversed(ls)
print(n)
print(type(n))
print(list(n))

<list_reverseiterator object at 0x00000223D8F10DF0>
<class 'list_reverseiterator'>
[3, 2, 1]

In [38]:
# 7. Write a program to count how many times each element appears in a list.
f = [1, 2, 3, 3, 3, 3, 4, 4]
print(f.count(3))

4

In [110]:
# 8. Take a list of names and print only those that start with 'A'. 
l = ["first", "Anans", "python", "Aaaa"]
d = []
for x in l:
    if x[0] == "A":
        d.append(x)
print(d)

['Anans', 'Aaaa']

In [5]:
#9 Create a nested list and access a specific element.
l = [(1,2,3), (5,4,3)]
print(l[1][0])

5

In [6]:
#10  Merge two lists into one.
l1 = [1, 2, 3, 4]
l2 = [3, 4, 5, 5]
m = l1 + l2
print(m)

[1, 2, 3, 4, 3, 4, 5, 5]

In [9]:
#  11. Remove all even numbers from a list.
le = [1, 2, 3, 5, 8, 4, 6]
d = []
for x in le:
    if x % 2 != 0:
        d.append(x)
print("after removeing the even numberes", d)

after removeing the even numberes [1, 3, 5]

In [16]:
#  12. Take a list of strings and convert all to uppercase.
ls = ["python is a programming language"]
d = str(ls)

print(d)
print(type(d))
print(d.upper())

['python is a programming language']
<class 'str'>
['PYTHON IS A PROGRAMMING LANGUAGE']

In [22]:
# 13  Find the second largest number in a list.
l = [1, 3, 4, 5, 6, 6, 8, 99]
l.remove(max(l))
print(l)
print(max(l))

[1, 3, 4, 5, 6, 6, 8]
8

In [25]:
#14  Swap the first and last element in a list.
l = [1, 2, 3, 4, 5]
l[0], l[-1] = l[-1], l[0]
print(l)

[5, 2, 3, 4, 1]

In [117]:
#  15. Write a program to split a list into two halves.
f = [1, 2, 3, 4, 4, 5, 6]
print(f[0:3])
print(f[3:9])

[1, 2, 3]
[4, 4, 5, 6]

In [115]:
#  16. Filter a list to only keep strings with length > 4.

l = ['apple', 'cat', 'banana', 'dog', 'elephant']
ll = []
for x in l:
    if len(x) > 4:
        ll.append(x)
print(ll)

['apple', 'banana', 'elephant']

In [ ]:
#  17. Convert a list to a comma-separated string. (not complited)
l = [1, 2, 3, 4]
print(d)
print(l)

21
[1, 2, 3, 4]

In [33]:
#  18. Check if a list is a palindrome.
l = [1, 2, 1]
if l[::-1] == l:
    print("it is pallindrome")
else:
    print("not a pallindrome")

it is pallindrome

In [ ]:
#  19. Find the average of numbers in a list.
l = [1, 2, 3, 4, 5, 6]
d = sum(l)
s = d /len(l)
print(d)
print(s)

21
3.5

In [ ]:
#  20. Replace all negative numbers in a list with 0 (not complited)
f = [1, -1, 4, 5, -5, 8, -1]

print(x)

0
6

# tuple

In [40]:
#  21. Create a tuple and access each element using a loop.
d = (1, 2, 3, 4, 4, -1)
for x in d:
    print(x)
print(type(d))

1
2
3
4
4
-1
<class 'tuple'>

In [41]:
# 22  22. Convert a tuple to a list and vice versa.
t = (2, 3, 4, 4, 5)
l = list(t)
print(l)
print(type(l))

[2, 3, 4, 4, 5]
<class 'list'>

In [42]:
#23  Find the index of a specific element in a tuple.
t = (4, 5, 6)
print(t[0])

4

In [43]:
#  24. Check if an element exists in a tuple.
t = (5, 7, 8)
print(5 in t)

True

In [44]:
#  25. Count the number of times an element appears in a tuple.
c = (3, 3, 3, 4, 5, 5)
print(c.count(5))

2

In [45]:
#  26. Slice a tuple from index 2 to 5.
d = (1, 2, 3, 4, 4, 5, 6)
print(d[2:5])

(3, 4, 4)

In [47]:
#  27. Join two tuples and print the result.
t1 = (1, 2, 3, 4)
t2 = (5, 6, 7)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6, 7)

In [49]:
#  28. Write a program to multiply all numbers in a tuple.
t = (1, 2, 3, 4)
r = 1
for x in t:
    r *=x
print(r)

24

In [50]:
# 29. Find the maximum and minimum elements in a tuple.
t = (1, 2, 3, 4, 5, 5, 6, 7)
print(max(t))
print(min(t))

7
1

In [51]:
#  30. Create a nested tuple and access inner elements.
tn = ( (1, 2, 3), (3, 4, 5))
print(tn[1][2])

5

In [125]:
#  31. Compare two tuples and print the larger one based on sum.
t1 = (1, 2, 3, 5, 6)
t2 = (2, 4, 5, 6 , 1, 1 , 1)
if len(t1) > len(t2):
    print(sum(t1))
else:
    print(sum(t2))

20

In [132]:
#  32. Replace the third element in a tuple .
t3 = (1, 2, 4, 6, 7)
t = list(t3)
t[2] = 0
print(t[2])

0

In [ ]:
#  33. Iterate over a tuple and print index with value. (not done)
f = (1, 2, 3, 4, 6)
for x in f:
    print()

In [124]:
# 34  Find the length of a tuple without using len()
f = (1, 2, 3, 4, 5, 7, 7, 4)
count = 0
for x in f:
    count += 1
print(count)

8

In [ ]:
# 35 Write a function that accepts a tuple of numbers and returns the square of each
def square(n):
    s = []
    for x in n:
        d = x ** 2
        s.append(d)
    return s
square((1, 2, 3))

[1, 4, 9]

# set

In [59]:
#  36. Create a set with some repeated elements and show duplicates are removed.
s = {1, 1, 2, 2, 3, 3, 4, 4, 4}
print(s)

{1, 2, 3, 4}

In [61]:
#  37. Add and remove items from a set.
s = {1, 2, 3, 4}
s.remove(4)
print(s)
s.add(9)
print(s)

{1, 2, 3}
{1, 2, 3, 9}

In [69]:
#  38. Write a program to perform union and intersection of two sets.
s1 = {1, 2, 3}
s2 = {4, 5, 6, 1, 2}
union_s = s1.union(s2)
inter = s1.intersection(s2)
print(union_s)
print(inter)

{1, 2, 3, 4, 5, 6}
{1, 2}

In [ ]:
#  39. Check if a set is a subset or superset of another.
t1 = {1, 2, 3}
t2 = {1, 2, 3, 4}
print(t1.issubset(t2))
print(t2.issuperset(t1))

True
True

In [70]:
#  40. Remove duplicates from a list using a set.
l1 = [1, 2, 2, 3, 4, 4, 5, 5]
s = set(l1)
print(s)

{1, 2, 3, 4, 5}

In [71]:
#  41. Find common elements between two sets.
l1 = {1, 2, 3, 4, 5}
l2 = {1, 2, 6, 7}
common = l1.intersection(l2)
print(common)

{1, 2}

In [107]:
# 42. Find elements in one set but not in another.
l1 = {1, 2, 3, 4, 5}
l2 = {1, 2, 6, 7}
d = l1.difference(l2)
print(d)

{3, 4, 5}

In [13]:
#  43. Write a program to find the symmetric difference between two sets.
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6, 7}
sy = s1.symmetric_difference(s2)
print(sy)

{1, 2, 5, 6, 7}

In [72]:
#  44. Convert a set to a list and tuple.
s = {1, 2, 3, 4}
l = list(s)
t = tuple(s)
print(l)
print(type(l))
print(t)
print(type(t))

[1, 2, 3, 4]
<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>

In [73]:
# 45   Find the length of a set.
s = {1, 2, 3, 4}
print(len(s))

4

In [108]:
#46  Take a list with duplicates and print unique values using set.
l = [1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 4]
unique = set(l)
print(unique)

{1, 2, 3, 4}

In [104]:
#  47. Take input from user and store in a set until they type 'stop'.
d = set()
while True:
    s = input("enter ")
    if s == 'stop' :
        break
    d.add(s)
print(d)

{'6', '5', '4'}

In [12]:
# 48. Check if all elements in a list are unique using a set.
s = [1, 2, 3, 4]
s1 = set(s)
print(len(s) == len(s1))

True

In [79]:
#  49. Write a program to create a set of squares of numbers from 1 to 10.
square = set()
for s in range(1,11):
    result = s ** 2
    square.add(result)
print(square)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
#  50. Write a program to remove all vowels from a given string using set. (not completed)
s = {"first", "second",  "sd"}
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
result = ""
for char in s:
    if char  not in s:
        result += char
print(result)